<?xml version="1.0" encoding="UTF-8"?>
<!--<Configuration status="info" packages="biz.paluch.logging.gelf.log4j2">-->
<Configuration status="info" >
   <!-- <Properties>
        <property name="profile">${bundle:application:spring.profiles.active}</property>
        <property name="GELF_HOST">${bundle:application-${profile}:graylog.host}</property>
        <property name="GELF_PORT">${bundle:application-${profile}:graylog.port}</property>
    </Properties>-->
    <ThresholdFilter level="trace"/>
    <Appenders>
        <Console name="STDOUT"><!--[%L]-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
        <!-- Rolling File Appender -->
        <Console name="STDOUT">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
       <!-- <Gelf name="graylog" host="${GELF_HOST}" port="${GELF_PORT}" version="1.1" extractStackTrace="true"
              filterStackTrace="true" mdcProfiling="true" includeFullMdc="true" maximumMessageSize="8192"
              originHost="%host{fqdn}" additionalFieldTypes="environment=String,application=String">
            <Field name="timestamp" pattern="%d{dd MMM yyyy HH:mm:ss,SSS}" />
            <Field name="level" pattern="%level" />
            <Field name="simpleClassName" pattern="%C{1}" />
            <Field name="className" pattern="%C" />
            <Field name="server" pattern="%host" />
            <Field name="server.fqdn" pattern="%host{fqdn}" />

            <Field name="environment" literal="DEV" />
            <Field name="application" literal="camel-socket-atm" />
        </Gelf>-->
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false" >
            <!--<appender-ref ref="RollingFile" />-->
            <appender-ref ref="STDOUT" />
          <!--  <appender-ref ref="graylog" />-->
        </Root>
    </Loggers>
</Configuration>